{% extends 'base.html' %}
{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800">

    <header class="text-orange-500 my-11 text-center">
        <div class="container mx-auto">
            <h1 class="text-3xl text-current font-bold text-orange-500">About Us</h1>
        </div>
    </header> 
    
    <main class="container mx-auto py-8 px-4">
        <section class="bg-white p-8 rounded shadow-md">
            <p class="mb-4">
                Welcome to melogistics company, your trusted partner in delivering your goods swiftly and securely. We are dedicated to providing top-notch delivery services that ensure your packages arrive on time, every time.
            </p>
            <p class="mb-4">
                Our mission is to simplify the delivery process for individuals and businesses alike. With our state-of-the-art tracking system, you can monitor your delivery in real-time, giving you peace of mind and confidence in our service.
            </p>
            <p class="mb-4">
                At Melogistics company, we prioritize customer satisfaction above all. Our team of experienced couriers and customer support representatives work tirelessly to meet your delivery needs with precision and care.
            </p>
            <p>
                Thank you for choosing Melogistics company. We look forward to serving you and making your delivery experience as smooth and efficient as possible.
            </p>
        </section>
    </main>

{%endblock%}

</body>
</html>

