{% extends 'ride_dashboard.html' %}

{% block orders %}
{% comment %} <nav>
    <a href="{% url 'logout' %}" class="bg-slate-600 hover:bg-red-700 text-white font-bold mt-5 py-2 px-4 rounded">
        Logout
    </a>
</nav> {% endcomment %}
<div class="container mx-auto py-8 px-4">
    {% comment %} <h1 class="text-3xl font-bold mb-6">Ride List</h1> {% endcomment %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for ride in orders %}
            <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
                <h2 class="text-xl font-semibold mb-4">Order Details</h2>
                <p class="truncate"><strong>Pickup Location:</strong> {{ ride.pickup_location }}</p>
                <p><strong>Customer:</strong> {{ ride.senders_phone_number }}</p>
                <p class="truncate"><strong>Delivery Location:</strong> {{ ride.delivery_location }}</p>
                <p class="truncate"><strong>receivers_phone_number:</strong> {{ ride.receivers_phone_number }}</p>
                <p><strong>Date Ordered:</strong> {{ ride.date_ordered }}</p> 
                <p><strong>Stars:</strong> <span class="text-yellow-500 font-bold">{{ ride.stars }}</span></p>
                <p><strong>Completed:</strong> 
                    {% if ride.completed %}
                        <span class="text-green-500 font-bold">Yes</span>
                    {% else %}
                        <span class="text-red-500 font-bold">No</span>
                    {% endif %}
                </p>
                <form method='delete' action='{% url "delete_order" id=ride.id%}'>
                <button class='rounded-lg flex justify-center items-center bg-red-600 text-white px-2 font-roboto'>X</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block history %}

<nav>
   
</nav>

<div class="container mx-auto py-8 px-4">
    {% comment %} <h1 class="text-3xl font-bold mb-6">Ride List</h1> {% endcomment %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for ride in history %}
            <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
                <h2 class="text-xl font-semibold mb-4">Order Details</h2>
                <p class="truncate"><strong>Pickup Location:</strong> {{ ride.pickup_location }}</p>
                <p class="truncate"><strong>Delivery Location:</strong> {{ ride.delivery_location }}</p>
                <p class="truncate"><strong>Item Description:</strong> {{ ride.Item_Description }}</p>
                {% comment %} <p><strong>Customer:</strong> {{ ride.customer.username }}</p> {% endcomment %}
                <p><strong>Date Ordered:</strong> {{ ride.date_ordered }}</p>
                <p><strong>Stars:</strong> <span class="text-yellow-500 font-bold">{{ ride.stars }}</span></p>
                <p><strong>Completed:</strong> 
                    {% if ride.completed %}
                        <span class="text-green-500 font-bold">Yes</span>
                    {% else %}
                        <span class="text-red-500 font-bold">No</span>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block profile %}
<div class="bg-white my-4 flex justify-center items-center">
    <form method="post" action='{% url "edit_user" %}' class="bg-slate-200 p-6 w-[70%] mb-3">
        <h2 class='bg-slate-200 w-full'>Edit User</h2>

        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit" class="bg-blue-500 hover:bg-gray-500 text-white font-semibold mt-5 py-2 px-4 rounded mb-3">Save changes</button>
    </form>
</div>
{% endblock profile %}
    
