{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>melogistics.onrender.com</title>
  </head>
  <body>
    {% block body %}

    <div
      class="min-h-[150px] lg:min-h-[80vh] bg-slate-100 flex lg:p-20 p-5 bg-cover bg-center bg-inherit"
      style="background-image: url('{% static 'images/hero.jpg' %}')"
    >
      <div class="lg:max-w-[70%] flex flex-col">
        <h1
          class="lg:text-[60px] md:text-[90px] sm:text-[2.5rem] text-white text-[3rem]">
          From our doorstep to yours, delivering excellence every time
          <p class="mb-8 mt-5 sm:text-[1.7rem] lg:text-[2rem]">
            Discover amazing things with us.
          </p>
        </h1>

        <div class="flex animate-slide-left">
          <a
            href="{% url 'signup' %}"
            class="py-2 px-4 mt-5 rounded-[10px] bg-orange-600 cursor-pointer inline-block text-white hover:bg-white hover:text-black hover:border-2 sm:text-[1.6rem] lg:text-[1.5rem]"
          >
            SignUp
          </a>
          <a
            href="{% url 'login' %}"
            class="py-2 px-4 mt-5 rounded-[10px] bg-whit border-color cursor-pointer inline-block ml-4 text-black hover:bg-slate-800 hover:text-white hover:border-2 sm:text-[2.5rem] lg:text-[2rem]"
            >Login
          </a>
        </div>
      </div>
    </div>

    <!-- Hero Section -->
    <div class="bg-slate-200 text-gray-900 py-20 rounded">
      <div class="container mx-auto px-4">
        <h1 class="sm:text-[3rem] lg:text-[3rem] font-bold mb-4">
          Welcome to Our Website
        </h1>
        <p class="text- mb-8 sm:text-[2.5rem] lg:text-[3rem]">
          Discover amazing things with us.
        </p>
        <a
          href="{% url 'signup'%}"
          class="bg-orange-600 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded sm:text-[2rem]"
          >Get Started</a
        >
      </div>
    </div>

    <!-- Two Grid Section -->
    <div class="container justify-center ml-24 py-16">
      <div class="grid md:grid-cols-2 gap-10 items-center">
        <div class="text-content">
          <strong><h2 class="text-3xl text-slate-700 mb-4 text-[3rem]">
            Our Story
          </h2></strong> <br>
          <p class="text-gray-600 mb-4 text-[1.3rem] md:text-[1.6rem] sm:text-[1.6rem]">
            Melogistics is committed to transforming logistics with reliable and efficient delivery solutions. Our dedicated team and advanced technology ensure every package arrives on time, bringing peace of mind to our customers. Trust us to handle your logistics needs with care and excellence.
          </p>
          <a
            href="{% url 'about' %}"
            class="text-orange-600 hover:text-orange-400 font-semibold"
            >Learn More →</a
          >
        </div>
        <div class="image-content">
          <img
            class="w-70 h-21 object-cover rounded-full"
            src="{% static 'images/logo 4.jpg' %}"
            alt="Team Member"
          />
        </div>
      </div>
    </div>

    <div class="lg:px-20 pt-5">
      <h2
        class="text-[3rem] text-3xl text-slate-700 md:text-[40px] text-bold m-9"
      >
        <strong>Our Services</strong>
      </h2>
      <hr />
      <div class="flex lg:flex-row flex-col p-5">
        <div
          class="py-auto min-h-[300px] h-100 lg:max-w-[50%] align-middle mt-[80px]"
        >
          <p
            class="text-[2rem] font-semibold text-slate-700"
          >
            Why you should choose us for your delivery
          </p>
          <p class="text-slate-600 mt-5 max-w-25 sm:text-[1.7rem] mb-16">
            At melogistics company, we stand out for our commitment to
            excellence and customer satisfaction. Choose Melanin Delivery
            Company for a seamless, sustainable, and superior delivery
            experience. Your satisfaction is our top priority.
          </p>
          <a
            href="#"
            class="bg-orange-600 hover:bg-green-600 text-white font-bold py-2 px-4 rounded border-amber-500  text-[1rem]"
            >Get Started</a
          >
        </div>
        <div class="mt-4">
          <div
            class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 ml-8"
          >
            <div class="col-span-2 p-4">
              <h1 class="font-semibold text-slate-600 text-[1.5rem]">
                Reliability
              </h1>
              <img src="{% static 'icons/Heart.svg' %}" />
              <h1 class="text-slate-600 mt-5 max-w-25  text-[1.3rem]">
                Guarantees consistent performance and trustworthiness of a
                product or service, building customer confidence and long-term
                loyalty
              </h1>
            </div>
            <div class="col-span-2 p-4">
              <h1 class="font-semibold text-slate-600 text-[1.5rem]">
                Fast Delivery
              </h1>
              <img src="{% static 'icons/Lightning.svg' %}" />
              <h1 class="text-slate-600 mt-5 max-w-25 text-[1.3rem]">
                We prioritizes speed in order to ensure customers receive their
                orders quickly, which enhances business satisfaction
              </h1>
            </div>
            <div class="col-span-2 p-4">
              <h1 class="font-semibold text-slate-600 text-[1.5rem]">
                Affordability
              </h1>
              <img src="{% static 'icons/Hand.svg' %}" />
              <h1 class="text-slate-600 mt-5 max-w-25 text-[1.3rem]">
                We ensure services are priced within the financial reach of a
                broad customer base, enhancing accessibility and market
                competitiveness
              </h1>
            </div>
            <div class="col-span-2 p-4">
              <h1 class="font-semibold text-slate-600 text-[1.5rem]">
                Customer Friendly
              </h1>
              <img src="{% static 'icons/ThumbFill.svg' %}" />
              <h1 class="text-slate-600 mt-5 max-w-25 text-[1.3rem]">
                We adopt a customer-friendly approach which focuses on
                addressing customer needs promptly and ensuring a positive
                experience.
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-6">
      <div>
        <h2
          class="text-[3rem] font-bold md:text-[40px] text-slate-600 text-center font-sans mt-5 mb-5"
        >
          Delivery Packages
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-6 my-14">
          <div class="p-4">
            <img
              class="w-70 h-30 object-cover rounded-full"
              src="{% static 'images/sup.jpg' %}"
              alt="Team Member"
            />
          </div>
          <div class="p-4">
            <img
              class="w-70 h-30 object-cover rounded-full"
              src="{% static 'images/food.jpg' %}"
              alt="Team Member"
            />
          </div>
          <div class="p-4">
            <img
              class="w-70 h-30 object-cover rounded-full"
              src="{% static 'images/medic.jpg' %}"
              alt="Team Member"
            />
          </div>
         
        </div>
      </div>
    </div>

 {% endblock %}
  </body>
</html>
